.character-container{
  font-family: "WubbaLubbaDubDub";
  background: #202020;
  width: 100%;
  border-radius: 10px;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  .gradient{
    width: 550px;
    height: 550px;
    position: absolute;
  }
  .character-card{
    background: #202020;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    padding: 6% 8%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
    .character-image{
      width: 65%;
      margin: 0 auto;
      border-radius: 50%;
      position: relative;
      display: flex;
      justify-content: center;
      .character-status{
        background: #202020;
        position: absolute;
        bottom: -10px;
        padding: 4px 10px;
        overflow: hidden;
        .status{
          display: block;
          font-size: 18px;
          line-height: 1;
        }
      }
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .character-content{
      flex: 1;
      .character-name{
        font-size: 26px;
        line-height: 1;
        text-align: center;
        margin-top: 6.5%;
      }
      .character-species{
        color: #fff;
        text-align: center;
      }
      .character-info{
        font-size: 18px;
        margin-top: 4%;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .gender, .origin, .location{
          color: #fff;
          display: flex;
          span{
            color: #878787;
            background: #383838;
            display: block;
            width: 78px;
            min-width: 78px;
            height: 26px;
            padding: 0 7px;
            margin-right: 8px;
            border-radius: 5px;
            text-align: center;
          }
        }
      }
    }
  }
}


.gradient.alive{
  background-image: conic-gradient(transparent 240deg, #9eff62 340deg);
  animation: rotate 4s infinite linear;
}
.gradient.dead{
  background-image: conic-gradient(transparent 240deg, #f00 340deg);
  animation: rotate 8s infinite linear;
}
.gradient.unknown{
  background-image: conic-gradient(transparent 240deg, #a3a596 340deg);
  animation: rotate 4s infinite linear;
}


.character-image.alive{
  img{
    border: 2px solid #daffc3;
    box-shadow: 0px 0px 20px rgb(0, 255, 0, 0.4);
  }
}
.character-image.dead{
  img{
    border: 2px solid #ff3939;
    box-shadow: 0px 0px 20px rgb(255, 0, 0, .7);
  }
}
.character-image.unknown{
  img{
    border: 2px solid #a3a596;
  }
}


.character-status.alive{
  border: 1px solid #daffc3;
  .status{
    color: #daffc3;
    text-shadow: 0px 0px 4px rgb(100 255 0), 0px 0px 8px rgb(0 255 0);
  }
}
.character-status.dead{
  border: 1px solid #ff3939;
  .status{
    color: #ff4c4c;
    text-shadow: 0px 0px 4px rgb(255 0 0), 0px 0px 8px rgb(255 0 0);
  }
}
.character-status.unknown{
  border: 1px solid #a3a596;
  .status{
    color: #a3a596;
  }
}


.character-name.alive{
  color: #daffc3;
  text-shadow: 0px 0px 4px rgb(100 255 0), 0px 0px 15px rgb(0 255 0);
}
.character-name.dead{
  color: #ff4c4c;
  text-shadow: 0px 0px 4px rgb(255 0 0), 0px 0px 8px rgb(255 0 0);
}
.character-name.unknown{
  color: #a3a596;
}


@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}