main{
  min-height: 100vh;
  padding: 50px 3vw;
  .logo{
    width: 35%;
    min-width: 300px;
    margin: 0 auto;
    img{
      width: 100%;
    }
  }
  .characters{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        300px, 1fr
      )
    );
    gap: clamp(20px, 4vw, 50px);
  }
}