@import '/src/scss/fonts';
@import '/src/scss/variables';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background: #000600;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (min-width:768px){
  .App{
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      background: #202020; 
    }
    &::-webkit-scrollbar-thumb {
      background: #383838; 
      border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #484848; 
    }
  }
}
@media (max-width:768px){
  .App{
    height: 100svh;
  }
}

@import '/src/components/Background/Background';
@import '/src/components/RickAndMortyApi/RickAndMortyApi';
@import '/src/components/RickAndMortyApi/Character';
@import '/src/components/Pagination/Pagination';
@import '/src/components/Options/Options';