// FUENTES
@import '/src/scss/fonts';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background: #000600;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@import '/src/components/Background/Background';
@import '/src/components/RickAndMortyApi/RickAndMortyApi';
@import '/src/components/RickAndMortyApi/Character';
@import '/src/components/Pagination/Pagination';